<!-- start of footprint-section -->
<section class="footprint-section section-padding">
  <div class="container">
    <div class="footprint-wrap">
      <div class="row align-items-center">
        <div class="col-lg-6 col-12">
          <div class="footprint-text wow fadeInLeftSlow" data-wow-duration="1200ms">
            <h2>{{ section.settings.title }}</h2>
            {{ section.settings.details }}
            <a href="{{ section.settings.button_link }}" class="theme-btn-s2">{{ section.settings.button_text }}</a>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="footprint-img wow fadeInRightSlow" data-wow-duration="1200ms">
            <img
              src="{{ section.settings.image | image_url: width: 1920 }}"
              alt=""
              width=""
              height="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of footprint-section -->


{% schema %}
  {
    "name": "About Footprint Section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Our Global Footprint"
      },
      {
        "type": "richtext",
        "id": "details",
        "label": "Details",
        "default": "<p>While our headquarters are located in Pennsylvania, our reach extends far beyond the United States. With offices in Singapore, Switzerland, the United Arab Emirates, and Hong Kong, we’re continuing to look for new areas of opportunity—our New York and Miami offices are coming soon.</p>"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Explore All Locations"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }

    ],
    "presets": [
      {
        "name": "About Footprint Section"
      }
    ]
  }
{% endschema %}