<section class="category-section section-padding">
  <div class="container-fluid">
    <div class="section-title">
      <h2>{{ section.settings.category_title }}</h2>
    </div>
    <div class="category-slider category-slider-active owl-carousel">
      {% for product in collections %}
        <div class="category-item">
          <div class="category-img">
            <a href="{{ product.url }}">
              <img
                src="{{ product.image.src | image_url: width: 400  }}"
                width=""
                height=""
                alt="">
            </a>
            <a href="{{ product.url }}" class="bottom-btn">{{ product.title }} ({{ product.products_count }})</a>
          </div>
        {% comment %} {% for collection in product.collections limit: 1 %}
                    <a href="{{ collection.url }}">{{ collection.title }}</a>
        {% endfor %} {% endcomment %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Category Section",
    "settings": [
      {
        "type": "range",
        "id": "limit_category",
        "min": 1,
        "max": 50,
        "step": 1,
        "label": "Category Limit",
        "default": 7
      },
      {
        "type": "text",
        "id": "category_title",
        "label": "Categories Title",
        "default": "SHOP BY CATEGORY"
      }
    ],

    "presets": [
      {
        "name": "Category Section"
      }
    ]
  }
{% endschema %}