<footer class="footer-section">
  <div class="upper-footer">
    <div class="container">
      <div class="row">
        <div class="col col-xl-2 col-lg-2 col-md-4 col-sm-12 col-12">
          <div class="widget link-widget">
            <div class="widget-title">
              <h3>{{ section.settings.useful_links_text }}</h3>
            </div>
            <ul>
              {% for link in linklists[section.settings.useful_links].links %}
                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col col-lg-2 col-md-4 col-sm-12 col-12">
          <div class="widget link-widget">
            <div class="widget-title">
              <h3>{{ section.settings.quick_links_text }}</h3>
            </div>
            <ul>
              {% for link in linklists[section.settings.quick_links].links %}
                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col col-xl-2  col-lg-2 col-md-4 col-sm-12 col-12">
          <div class="widget link-widget custom">
            <div class="widget-title">
              <h3>{{ section.settings.company_text }}</h3>
            </div>
            <ul>
              {% for link in linklists[section.settings.company_links].links %}
                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col col-xl-3  col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="widget link-widget custom">
            <div class="widget-title">
              <h3>{{ section.settings.shop_text }}</h3>
            </div>
            <ul>
              {% for link in linklists[section.settings.shop_links].links %}
                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="widget subscribe">
            <div class="widget-title">
              <h3>{{ section.settings.contact_with_us_text }}</h3>
            </div>
            <ul class="social">
              {% if section.settings.facebook_link != blank %}
                <li>
                  <a href="{{ section.settings.facebook_link }}">
                    <i class="ti-facebook"></i>
                  </a>
                </li>
              {% endif %}
              {% if section.settings.twitter_link != blank %}
                <li>
                  <a href="{{ section.settings.twitter_link }}">
                    <i class="ti-twitter-alt"></i>
                  </a>
                </li>
              {% endif %}
              {% if section.settings.linkedin_link != blank %}
                <li>
                  <a href="{{ section.settings.linkedin_link }}">
                    <i class="ti-linkedin"></i>
                  </a>
                </li>
              {% endif %}
              {% if section.settings.instagram_link != blank %}
                <li>
                  <a href="{{ section.settings.instagram_link }}">
                    <i class="ti-instagram"></i>
                  </a>
                </li>
              {% endif %}
            </ul>
            <div class="widget-title">
              <h3>{{ section.settings.payment_method_text }}</h3>
              <ul class="payment">
                <li>
                  <a href="#"><img
                      src="{{ 'payment1.png' | asset_url }}"
                      width=""
                      height=""
                      alt=""></a>
                </li>
                <li>
                  <a href="#"><img
                      src="{{ 'payment2.png' | asset_url }}"
                      width=""
                      height=""
                      alt=""></a>
                </li>
                <li>
                  <a href="#"><img
                      src="{{ 'payment3.png' | asset_url }}"
                      width=""
                      height=""
                      alt=""></a>
                </li>
                <li>
                  <a href="#"><img
                      src="{{ 'payment4.png' | asset_url }}"
                      width=""
                      height=""
                      alt=""></a>
                </li>
                <li>
                  <a href="#"><img
                      src="{{'payment5.png' | asset_url }}"
                      width=""
                      height=""
                      alt=""></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- end container -->
  </div>
  <div class="lower-footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="copy-wrap">
          <p class="copyright">{{ section.settings.copy_right_text }}</p>
        </div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer Section",
    "settings": [
      {
        "type": "text",
        "id": "useful_links_text",
        "label": "Useful Links Text",
        "default": "USEFUL LINKS"
      },
      {
        "type": "link_list",
        "id": "useful_links",
        "label": "Useful Links"
      },
      {
        "type": "text",
        "id": "quick_links_text",
        "label": "Quick Links Text",
        "default": "Quick Links"
      },
      {
        "type": "link_list",
        "id": "quick_links",
        "label": "Quick Links"
      },
      {
        "type": "text",
        "id": "company_text",
        "label": "Company Text",
        "default": "COMPANY"
      },
      {
        "type": "link_list",
        "id": "company_links",
        "label": "Company Links"
      },
      {
        "type": "text",
        "id": "shop_text",
        "label": "Shop Text",
        "default": "Shop"
      },
      {
        "type": "link_list",
        "id": "shop_links",
        "label": "Shop Links"
      },
      {
        "type": "text",
        "id": "copy_right_text",
        "label": "Copy Right Text",
        "default": "© 2024 TWENTY all right reserved"
      },
      {
        "type": "text",
        "id": "contact_with_us_text",
        "label": "Contact With Us Text",
        "default": "Contact With Us"
      },
      {
        "type": "text",
        "id": "facebook_link",
        "label": "Facebook Link",
        "default": "https://www.facebook.com/"
      },
      {
        "type": "text",
        "id": "twitter_link",
        "label": "Twitter Link",
        "default": "https://twitter.com/"
      },
      {
        "type": "text",
        "id": "linkedin_link",
        "label": "Linkedin Link",
        "default": "https://www.linkedin.com/"
      },
      {
        "type": "text",
        "id": "instagram_link",
        "label": "Instagram Link",
        "default": "https://www.instagram.com/"
      },
      {
        "type": "text",
        "id": "payment_method_text",
        "label": "Payment Method Text",
        "default": "Payment method"
      }
    ],

    "presets": [
      {
        "name": "Footer Section"
      }
    ]
  }
{% endschema %}