<div class="collection-page">
  <!-- start of product-selling-section -->
  <section class="product-selling-section section-padding">
    <div class="section-title">
      <h2>{{ collection.title }}</h2>
    </div>

    <div class="product-wrap">
      <div class="container-fluid">
        <div class="row">
          {% assign limit = section.settings.product_limit %}
          {% for product in collection.products limit: limit %}
            <div class="col col-lg-3 col-md-6 col-12">
              <form
                class="form"
                action="/cart/add"
                method="post"
                enctype="multipart/form-data"
                id="addToCart">
                <input
                  type="hidden"
                  class="variant-idss"
                  id="variant-id"
                  name="id"
                  value="{{ product.variants.first.id }}">
                <input
                  type="hidden"
                  name="return_to"
                  value="{{ collection.url }}">
                <input
                  id="product-count"
                  class="product-count"
                  type="hidden"
                  value="1"
                  name="quantity">
                <div class="product-item wow fadeInUp" data-wow-duration="1000ms">
                  <div class="product-image">
                    <img
                      src="{{ product.featured_image | image_url: width: 600  }}"
                      width=""
                      height=""
                      alt="">
                  </div>
                  <div class="product-info">
                    <h2>
                      <a href="{{ product.url }}">{{ product.title }}</a>
                    </h2>
                    <div class="price">
                      <span>{{ product.price | money }}</span>
                    </div>
                    <button class="cart-btn" type="submit">Add to cart</button>
                  </div>
                </div>
              </form>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <!-- start of collection-section -->
  <section class="collection-section">
    <div class="collection-wrap">
      <div class="container-fluid">
        {% for block in section.blocks %}
          <div class="collection-items">
            <div class="collection-one wow fadeInUp" data-wow-duration="1000ms">
              <div class="collection-img">
                <img
                  src="{{ block.settings.collection_image | image_url: width: 700 }}"
                  width=""
                  height=""
                  alt="">
              </div>
              <div class="collection-text">
                <h2>{{ block.settings.title }}</h2>
                <a href="{{ block.settings.button_Link }}" class="shop-all">{{ block.settings.button_text }}</a>
              </div>
            </div>
            <div class="collection-two wow fadeInUp" data-wow-duration="1200ms">
              <div class="collection-large-img">
                <img
                  src="{{ block.settings.collection_side_image | image_url: width: 700 }}"
                  width=""
                  height=""
                  alt="">
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
<!-- cta-area -->
</div>

{% schema %}
  {
    "name": "Collection Section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "All Collections"
      },
      {
        "type": "range",
        "id": "product_limit",
        "label": "Product Limit",
        "default": 50,
        "min": 1,
        "step": 1,
        "max": 100
      }
    ],
    "blocks": [
      {
        "name": "Collections",
        "type": "block",
        "settings": [
          {
            "type": "image_picker",
            "id": "collection_image",
            "label": "Collection Image"
          },
          {
            "type": "image_picker",
            "id": "collection_side_image",
            "label": "Collection Side Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "3 HAND COLLECTIONS"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "SHOP ALL"
          },
          {
            "type": "url",
            "id": "button_Link",
            "label": "Button Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection Section",
        "blocks": [
          {
            "type": "block"
          }
        ]
      }
    ]
  }
{% endschema %}