{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  - update_url: {Boolean} whether or not to update url when changing variants. If false, the url isn't updated. Default: true (optional).
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}

<script>
  window.product = {{ product | json }} || {}
</script>
<script type="application/json">
  {{ product.variants | json }}
</script>

{%- liquid
  assign product_form_id = 'product-form-' | append: section.id
-%}
<section class="shop-single-section product-details section-padding pt-0">
  <div class="container">
    <div class="row">
      <div class="col col-lg-7 col-12">
        <div class="product-single-image">
          <div class="row">
            {% for image in product.images %}
              <div class="col col-lg-6 col-1md-6 col-12">
                <a class="product-popup" href="{{ image.src | image_url: width: 1920 }}">
                  <img
                    src="{{ image.src | image_url: width: 700 }}"
                    width=""
                    height=""
                    alt
                    class="img img-responsive">
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col col-lg-5 col-12">
        <div class="product-details">
          <small>STEEL / RED</small>
          <div class="title">
            <h2>{{ product.title }}</h2>
            <span id="itemPrice" data-currency="{{ shop.money_with_currency_format }}">
              {{ product.selected_or_first_available_variant.price | money }}</span>
          </div>
          <ul class="rating">
            <li>
              <div
                class="Stars"
                style="--rating: 4.5;"
                aria-label="Rating of this product is 2.3 out of 5."></div>
            </li>
            <li>5.0 (2 Reviews)</li>
          </ul>
          <p>{{ product.description }}</p>


          {%- unless product.has_only_default_variant -%}
            <variant-selects
              id="variant-selects-{{ section.id }}"
              data-section="{{ section.id }}"
              data-url="{{ product.url }}"
              {% if update_url == false %}
              data-update-url="false"
              {% endif %}
              {{ block.shopify_attributes }}>
              {%- for option in product.options_with_values -%}
                {%- liquid
                  assign swatch_count = option.values | map: 'swatch' | compact | size
                  assign picker_type = "swatch"

                  if swatch_count > 0 and block.settings.swatch_shape != 'none'
                    if picker_type == 'dropdown'
                      assign picker_type = 'swatch_dropdown'
                    else
                      assign picker_type = 'swatch'
                    endif
                  endif
                -%}
                {%- if picker_type == 'swatch' -%}
                  <fieldset class="js product-form__input product-form__input--swatch">

                    <div class="tag-wrap">
                      <h4>{{ option.name }}</h4>

                      <ul>
                        {% render 'product-variant-options'
                          , product: product
                          , option: option
                          , block: block
                          , picker_type: picker_type
                        %}
                      </ul>

                    </div>
                  </fieldset>
                {%- elsif picker_type == 'button' -%}
                  <fieldset class="js product-form__input product-form__input--pill">
                    <legend class="form__label">{{ option.name }}</legend>
                    {% render 'product-variant-options'
                      , product: product
                      , option: option
                      , block: block
                      , picker_type: picker_type
                    %}
                  </fieldset>
                {%- else -%}
                  <div class="product-form__input product-form__input--dropdown">
                    <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                      {{ option.name }}
                    </label>
                    <div class="select">
                      {%- if picker_type == 'swatch_dropdown' -%}
                        <span data-selected-dropdown-swatch="options[{{ option.name | escape }}]" class="dropdown-swatch">
                          {% render 'swatch'
                            , swatch: option.selected_value.swatch
                            , shape: block.settings.swatch_shape %}
                        </span>
                      {%- endif -%}
                      <select
                        id="Option-{{ section.id }}-{{ forloop.index0 }}"
                        class="select__select"
                        name="options[{{ option.name | escape }}]"
                        form="{{ product_form_id }}">
                        {% render 'product-variant-options'
                          , product: product
                          , option: option
                          , block: block
                          , picker_type: picker_type
                        %}
                      </select>
                      {% render 'icon-caret' %}
                    </div>
                  </div>
                {%- endif -%}
              {%- endfor -%}
              <script type="application/json">
                {{ product.variants | json }}
              </script>
            </variant-selects>
          {%- endunless -%}
          <form
            class="form"
            action="/cart/add"
            method="post"
            enctype="multipart/form-data"
            id="addToCart">
            <input
              type="hidden"
              class="variant-idss"
              id="variant-id"
              name="id"
              value="{{ product.variants.first.id }}">
            <input
              type="hidden"
              name="return_to"
              value="{{ product.url }}">
            <input
              id="product-count"
              class="product-count"
              type="hidden"
              value="1"
              name="quantity">
            <input
              type="hidden"
              id="variant_id"
              name="id"
              value="{{ product.selected_or_first_available_variant.id }}"
              class="product-variant-id">

            <div class="buy-btn">
              <button type="submit" class="theme-btn">ADD TO CART</button>
            </div>

          </form>
          <div class="features">
            <ul>
              {% if product.metafields.product.free_shipping.value != blank %}
                <li>
                  <i><img
                      src="{{ 'delivery.svg' | asset_url }}"
                      width=""
                      height=""
                      alt=""></i>
                  {{ product.metafields.product.free_shipping.value }}</li>
              {% endif %}

              {% if product.metafields.product.warranty.value != blank %}
                <li>
                  <i><img
                      src="{{ 'quality.svg' | asset_url }}"
                      width=""
                      height=""
                      alt=""></i>
                  {{ product.metafields.product.warranty.value }}</li>
              {% endif %}

              {% if product.metafields.product.returns.value != blank %}
                <li>
                  <i><img
                      src="{{ 'box.svg' | asset_url }}"
                      width=""
                      height=""
                      alt=""></i>
                  {{ product.metafields.product.returns.value }}</li>
              {% endif %}
              {% if product.metafields.product.payment.value != blank %}
                <li>
                  <i><img
                      src="{{ 'payment.svg' | asset_url }}"
                      width=""
                      height=""
                      alt=""></i>
                  {{ product.metafields.product.payment.value }}</li>
              {% endif %}
            </ul>
          </div>

          {% if product.metafields.product.key_features.value != blank or product.metafields.product.dimensions != blank %}
            <div class="accordion-section">
              <div class="accordion" id="accordionExample">
                {% if product.metafields.product.key_features.value != blank %}
                  <div class="accordion-item">
                    <h3 class="accordion-header" id="headingOne">
                      <button
                        class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne">
                        Key Features
                      </button>
                    </h3>
                    <div
                      id="collapseOne"
                      class="accordion-collapse collapse"
                      aria-labelledby="headingOne"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        {{ product.metafields.product.key_features | metafield_tag }}
                      </div>
                    </div>
                  </div>
                {% endif %}
                {% if product.metafields.product.dimensions != blank %}
                  <div class="accordion-item">
                    <h3 class="accordion-header" id="headingTwo">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo"
                        aria-expanded="false"
                        aria-controls="collapseTwo">
                        Dimensions
                      </button>
                    </h3>
                    <div
                      id="collapseTwo"
                      class="accordion-collapse collapse"
                      aria-labelledby="headingTwo"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        {{ product.metafields.product.dimensions | metafield_tag }}
                      </div>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          {% endif %}
        </div>
      <!-- end product details -->
      </div>
    <!-- end col -->
    </div>
  <!-- end row -->
  </div>
<!-- end of container -->
</section>


<script>
                            // Define the onVariantChange function
                            function onVariantChange() {
                            // Find the selected variant
                            const selectedVariant = document.querySelector('.single-option-selector input[type="radio"]:checked');

                            // If a variant is selected
                            if (selectedVariant) {
                              // Get the variant ID
                              const variantId = selectedVariant.value;

                              // Get the current URL
                              let currentUrl = window.location.href;

                              // If the current URL contains a variant parameter
                              if (currentUrl.includes('variant=')) {
                                // Replace the existing variant ID with the new one
                                currentUrl = currentUrl.replace(/variant=\d+/, 'variant=' + variantId);
                              } else {
                                // If no variant parameter exists, add it to the URL
                                currentUrl += (currentUrl.includes('?') ? '&' : '?') + 'variant=' + variantId;
                              }

                              // Update the URL
                              window.history.pushState({}, '', currentUrl);
                            }
                            }

                            document.addEventListener("DOMContentLoaded", function() {
                            // Find all radio buttons for the variant options
                            const radioButtons = document.querySelectorAll('.single-option-selector input[type="radio"]');

                            // Add event listener to each radio button
                            radioButtons.forEach(function(radioButton) {
                              radioButton.addEventListener("change", function() {
                                // Call the onVariantChange function when a radio button selection changes
                                onVariantChange();
                              });
                            });
                            });

</script>