<section class="top-category-section section-padding pb-0 pt-0">
  <div class="section-title">
    <h2>{{ section.settings.section_title }}</h2>
  </div>

  <div class="top-category-wrap">
    <div class="container-fluid">
      <div class="row">
        {% for block in section.blocks %}
          <div class="{% if forloop.index == 1 %} col col-lg-12 col-md-12 col-12 {% else %} col col-lg-6 col-md-6 col-12 {% endif %}">
            <div class="top-category-item wow fadeInUp" data-wow-duration="1000ms">
              <div class="top-category-img">
                <img
                  src="{{ block.settings.background_image | image_url: width: 1920 }}"
                  width=""
                  height=""
                  alt="">
              </div>
              <div class="top-category-text">
                <h2>{{ block.settings.title }}</h2>
                <a href="{{ block.settings.button_Link }}" class="theme-btn-s3">{{ block.settings.button_text }}</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Top Categories Section",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Title",
        "default": "TOP CATEGORIES"
      }
    ],
    "blocks": [
      {
        "name": "Categories",
        "type": "block",
        "settings": [
          {
            "type": "image_picker",
            "id": "background_image",
            "label": "Background Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "DIVERS"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "SHOP ALL"
          },
          {
            "type": "url",
            "id": "button_Link",
            "label": "Button Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Top Categories Section",
        "blocks": [
          {
            "type": "block"
          }
        ]
      }
    ]
  }
{% endschema %}